body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 1.8vh;
}

.navigation {
    position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
    align-items: center;
	flex-grow: 1;
}


.container {
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.subject {
    text-align: center;
}

.timer {
    text-align: center;
    margin-top: 3vh;
    font-size: 1.1rem;
}


#current {
    color: blue;
    text-align: center;
}

.timer-divisor {
    margin-top: 3vh;
    width: 80%;
}

.timer-caption {
    font-size: 1rem;
}

h3 {
    margin: 0;
    margin-bottom: 0.5vh;
}

p {
    margin: 0;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}