body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 1.8vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject {
    text-align: center;
}

h1 {
    margin-top : 10vh;
}

h3 {
    margin: 0;
    margin-bottom: 0.5vh;
}

p {
    margin: 0;
}

hr {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}