html {
	background-color: black;
}

body {
	font-family: 'Roboto Mono', monospace;
	margin: 0;
	color: white;
	height: 100%;
	
}

a {
	color: white;
}

.bio {
	background-color: black;
}

.bio p {
	margin: 0;
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 25px;
	padding-right: 60%;
}

#title {
	color: Lime;
	margin: 0;
	padding-left: 30px;
	padding-top: 30px;
	font-size: 175%;
	background-color: black;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: black;
	width: 50%;
}


.image {
	display: flex;
	background-color: black;
	flex-direction: row;
	width: 100%;
	padding-top: 20px;
}

#protein {
	margin-left: 10%;
	width: 250px;
	height: 250px;
}

#education, #socials {
	margin-left: 20%;
}

.commandline {
	display: inline;
}

.output {
	color: lime;
}

.cursor::after {
	content:'';
	display:inline-block;
	margin-left:3px;
	background-color:lime;
	animation-name:blink;
	animation-duration:0.7s;
	animation-iteration-count: infinite;
  }
  h1.cursor::after {
	height:19px;
	width:10px;
  }
  h2.cursor::after {
	height:13px;
	width:6px;
  }
  
  @keyframes blink {
	0% {
	  opacity:1;
	}
	49% {
	  opacity:1;
	}
	50% {
	  opacity:0;
	}
	100% {
	  opacity:0;
	}
  }


 
 @media only screen and (max-width: 500px){
	 #title {
		 font-size: 140%;
	 }

	 .container {
		 width: 100%;
	 }

	 .bio p {
		 padding-right: 10%;
	 }
	 
	 #education, #socials {
		 margin-left: 10%;
	 }

	 .image {
		flex-direction: column;
	 }

	 #protein {
		width: 200px;
		height: 200px;
		margin-left: auto;
		margin-right: auto;
	 }
 }




