html { 
  background: url("../../src/images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
	font-family: 'Roboto Mono', monospace;
	margin: 0;
	color: white;
	background-color: black;
	overflow: hidden;

}

a {
	color: white;
}

#title {
	color: Lime;
	margin: 0;
	padding: 0;
	font-size: 200%;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: black;
	height: 100%;

}
